- importing the neccesary libraries

In [1]:
import pandas as pd

- reading the data

In [2]:
diamonds_data = pd.read_excel("diamonds_new.xlsx")
diamonds_data.head()

   price  carat      cut color clarity  depth  table     x     y     z
0    326   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75

## Types of Probability

#### i) Conditional probability

Toatal number = 1000 <br />
70%play football = 0.7 X 1000  = 700 <br />
60% play basketball = 0.6 X 1000 = 600 <br />
40% play both = 0.4 X 1000 = 400 <br />

p(A|B) = P(AnB)/ P(B) <br />

In [3]:
nA = 0.7*1000
nB = 0.6*1000

AnB = 0.4*1000
probalility = AnB/nB
print(f"The probility that a student who plays basketball also plays football is : {probalility}")

The probility that a student who plays basketball also plays football is : 0.6666666666666666

using events

In [6]:
sample_space = {1,2,3,4,5,6}
event_one = {1,2,3}
event_two = {2,4,3}

In [8]:
joint_probility = len([x for x in event_one if x in event_two])/ len(sample_space)
joint_probility

probabilty_event_two = len(event_two)/len(sample_space)

conditial_probalitiy = joint_probility/probabilty_event_two
print(f"the condital probability is : {conditial_probalitiy}")

the condital probability is : 0.6666666666666666

Event A: Diamonds with clarity of SI1 <br />
Event B: Diamond with carat greater that 0.5

In [9]:
diamonds_data[["clarity", 'carat']]

      clarity  carat
0         SI2   0.23
1         SI1   0.21
2         VS1   0.23
3         VS2   0.29
4         SI2   0.31
...       ...    ...
53915     SI1   0.72
53916     SI1   0.72
53917     SI1   0.70
53918     SI2   0.86
53919     SI2   0.75

[53920 rows x 2 columns]

In [12]:
event_a = diamonds_data[diamonds_data['clarity'] == 'SI1']
event_b = diamonds_data[diamonds_data['carat'] > 0.5]

joint_event = diamonds_data[(diamonds_data['clarity'] == 'SI1') & (diamonds_data['carat'] > 0.5)] 
joint_probility = len(joint_event)/ len(diamonds_data)

joint_probility

probabilty_event_b = len(event_b)/ len(diamonds_data)

conditial_probalitiy = joint_probility/probabilty_event_b
conditial_probalitiy

0.27321826598845517

Assignment

a) Using the "Student_performance.xlsx" dataset, what is the probability of;

i)A student studying Information_Technology?

ii) A female student studying Computer_Science?

iii) A male student studying Data_Science?

## MARKING GUIDE: 5 MARKS ##

In [1]:
#import pandas as pd
import pandas as pd

In [3]:
#import dataset as a pandas dataframe called student_data
student_data=pd.read_excel("Student_performance.xlsx")

**i) Probability of a student studying Information_Technology?**

In [4]:
IT = student_data[student_data['course'] == 'Information_Technology']
pIT = len(IT)/ len(student_data) 

print(f'Probabilty of student studying Information Technology = {pIT}')

Probabilty of student studying Information Technology = 0.2727272727272727

**ii) Probability of a female student studying Computer_Science?**

In [9]:
event_female = student_data[student_data["gender"] == "female"]
event_CS = student_data[student_data["course"] == 'Computer_Science']

#get the joint event
joint_event1 = student_data[(student_data["gender"] == "female") & (student_data["course"] == "Computer_Science")]

#the joint probability

joint_prob1 = len(joint_event1) / len(student_data)
joint_prob1

#probability of event_CS

probability_CS = len(event_CS) / len(student_data)
probability_CS

#conditional probability

pCS_female = joint_prob1 / probability_CS
pCS_female 

print(f'Probability of female student studying computer science = {pCS_female}')

Probability of female student studying computer science = 0.5

***iii) Probability of a male student studying Data_Science?

In [10]:
event_male = student_data[student_data["gender"] == "male"]
event_DS = student_data[student_data["course"] == "Data_Science"]

#joint event
joint_event2 = student_data[(student_data["gender"] == "male") & (student_data["course"] == "Data_Science")]
joint_event2

#join probability 

joint_prob2 = len(joint_event2) / len(student_data)
joint_prob2

#probability of Data Science
probability_DS = len(event_DS) / len(student_data)
probability_DS

#conditional probability for male studying Data Science
pDS_male = joint_prob2 / probability_DS

print(f'Probabilty of a male student studying Data Science = {pDS_male}')

Probabilty of a male student studying Data Science = 0.33333333333333337